
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<h2>Xác nhận Email</h2>
<p>Hãy kiểm tra email trước khi đăng nhập vào hệ thống!</p>
<a href="https://mail.google.com/">Kiểm tra</a>

