@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

@model ShoeWeb.Areas.Customer.CustomerVM.ForgotPasswordViewModel

<div class="form-container" style="height: 600px;">
    <h2>Quên mật khẩu</h2>

    @using (Html.BeginForm("ForgotPassword", "User", new { area = "Customer" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" }) 
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    }
</div>

<style>
    .form-container {
        height: 600px; /* Thiết lập chiều cao */
    }

    .text-danger {
        color: red;
    }

    button[type="submit"] {
        display: block;
        visibility: visible;
    }
    .form-container span{
        width:300px;
    }
</style>
