@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

@model ShoeWeb.Areas.Customer.CustomerVM.ResetPasswordViewModel

<div class="form-container">
    <h2>Reset Password</h2>
    @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(m => m.OtpCode, "OTP Code")
            @Html.TextBoxFor(m => m.OtpCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OtpCode)
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    }
</div>
