
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Đã xảy ra lỗi! <a href="@Url.Action("Index","Home")">Thử lại</a></h2>
</div>
