
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Đơn hàng của bạn đang được xử lí! <a href="@Url.Action("Index","Home")">Quay lại trang chủ</a></h2>
</div>

