<div class="container-fluid">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        <i class="bi bi-arrow-down-circle"></i> Xuất báo cáo
    </button>
    @{
        var successMessage = TempData["SuccessMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success">
            @successMessage
        </div>
    }  @if (ViewData["Error"] != null)
    {
        <div class="alert alert-success">
            @ViewData["Error"]
        </div>
    }

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Báo cáo</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("ExportRevenueToPDF", "BaoCao")" method="get">
                        <!-- Từ ngày -->
                        <div class="mb-3">
                            <label for="fromDate" class="form-label">Từ ngày:</label>
                            <input type="date" class="form-control" id="fromDate" name="fromDate" required>
                        </div>

                        <!-- Đến ngày -->
                        <div class="mb-3">
                            <label for="toDate" class="form-label">Đến ngày:</label>
                            <input type="date" class="form-control" id="toDate" name="toDate" required>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Xuất báo cáo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    </p>

<!-- Content Row -->
<div class="row">

    <div class="col-xl-8 col-lg-7">

        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Doanh thu</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>

            </div>
        </div>

        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Đơn hàng</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                </div>

            </div>
        </div>

    </div>

    <!-- Donut Chart -->
  
</div>

</div>



