USE [ShoesWeb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[brandId] [int] IDENTITY(1,1) NOT NULL,
	[brandName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[brandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[cateId] [int] IDENTITY(1,1) NOT NULL,
	[cateName] [nvarchar](100) NOT NULL,
	[cateDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[cateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[numberSize] [real] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TypePayment] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[TinhThanh] [nvarchar](max) NOT NULL,
	[QuanHuyen] [nvarchar](max) NOT NULL,
	[PhuongXa] [nvarchar](max) NOT NULL,
	[isPayment] [bit] NOT NULL,
	[isAccept] [bit] NOT NULL,
	[StatusShipping] [int] NOT NULL,
	[userId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origins]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origins](
	[idOrigin] [int] IDENTITY(1,1) NOT NULL,
	[nameCountry] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Origins] PRIMARY KEY CLUSTERED 
(
	[idOrigin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPs]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[OTPCode] [nvarchar](6) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OTPs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](100) NOT NULL,
	[productDescription] [nvarchar](max) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[updatedDate] [datetime] NOT NULL,
	[cateId] [int] NOT NULL,
	[brandId] [int] NOT NULL,
	[idOrigin] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCartItems]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ShoppingCartId] [int] NOT NULL,
	[numberSize] [real] NOT NULL,
	[UnitPriceDb] [decimal](18, 2) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShoppingCartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCarts]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCarts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ShoppingCarts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeOfProducts]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeOfProducts](
	[productId] [int] NOT NULL,
	[sizeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SizeOfProducts] PRIMARY KEY CLUSTERED 
(
	[productId] ASC,
	[sizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 12/12/2024 1:16:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[sizeId] [int] IDENTITY(1,1) NOT NULL,
	[numberSize] [real] NOT NULL,
	[gender] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Sizes] PRIMARY KEY CLUSTERED 
(
	[sizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'459d365e-2efe-4e98-9f50-37951178a52c', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'd0ea5197-2c33-426b-a7b6-1a9b3fcdcbce', N'Customer')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c03d015e-3c3a-4c3d-a1b6-9943d6ea5a36', N'459d365e-2efe-4e98-9f50-37951178a52c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'720de367-eb83-4cc1-b3cb-25a30d536e9f', N'd0ea5197-2c33-426b-a7b6-1a9b3fcdcbce')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Status]) VALUES (N'4702e6f2-b74d-443b-a360-735f061b5d4d', N'datmoa5@gmail.com', 1, N'APrzF26dO7f5rwv3BhEyXnV8pOc99dWd7uV7/5cXoDJA3Gl2RaI+n0sH38tyYH8lSw==', N'72de498f-6a87-4d26-b188-534eabba25c7', N'02342358123', 0, 0, NULL, 1, 0, N'thanhdat', 0)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Status]) VALUES (N'720de367-eb83-4cc1-b3cb-25a30d536e9f', N'datnguyen151004@gmail.com', 1, N'AMEbhbB58VORGJ7fIcRr/7So9ABRGTmrDnYNJuFHUPTcYjYEmFeKGIAu+dl1ajQB7g==', N'41a06b71-f643-4db6-85ed-4ba01751e200', N'02342358123', 0, 0, NULL, 1, 0, N'dat15010', 0)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Status]) VALUES (N'c03d015e-3c3a-4c3d-a1b6-9943d6ea5a36', N'6351071016@st.utc2.edu.vn', 1, N'AIxfoCFDzJNlYAPcVvsOCHuI/wF7nPVWcUjWcbr1dnFvgHN6MEsdj8xkWtaw9r4N2A==', N'f1a47050-a081-4e28-8d60-497b0cc310ba', N'09872525231', 0, 0, NULL, 1, 0, N'6351071016@st.utc2.edu.vn', 0)
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([brandId], [brandName]) VALUES (1, N'Nike')
INSERT [dbo].[Brands] ([brandId], [brandName]) VALUES (2, N'Adidas')
INSERT [dbo].[Brands] ([brandId], [brandName]) VALUES (3, N'Puma')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([cateId], [cateName], [cateDescription]) VALUES (1, N'abc', N'abc')
INSERT [dbo].[Categories] ([cateId], [cateName], [cateDescription]) VALUES (2, N'Giày thể thao', N'Các loại giày được thiết kế cho hoạt động thể thao và tập luyện')
INSERT [dbo].[Categories] ([cateId], [cateName], [cateDescription]) VALUES (3, N'Giày chạy bộ', N'Giày chuyên dụng cho việc chạy bộ và đi bộ đường dài')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity], [numberSize]) VALUES (19, 19, 24, CAST(1980000.00 AS Decimal(18, 2)), 2, 35)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity], [numberSize]) VALUES (22, 22, 37, CAST(2970000.00 AS Decimal(18, 2)), 3, 42)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity], [numberSize]) VALUES (23, 22, 28, CAST(5940000.00 AS Decimal(18, 2)), 6, 42)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Code], [CustomerName], [Phone], [Address], [Email], [TotalAmount], [Quantity], [TypePayment], [Status], [CreatedDate], [TinhThanh], [QuanHuyen], [PhuongXa], [isPayment], [isAccept], [StatusShipping], [userId]) VALUES (2, N'ORD000002', N'Nguyễn Đạt', N'0869387518', N'123', NULL, CAST(1698000.00 AS Decimal(18, 2)), 2, 0, 0, CAST(N'2024-11-26T17:31:22.233' AS DateTime), N'48', N'493', N'20263', 1, 1, 3, NULL)
INSERT [dbo].[Orders] ([Id], [Code], [CustomerName], [Phone], [Address], [Email], [TotalAmount], [Quantity], [TypePayment], [Status], [CreatedDate], [TinhThanh], [QuanHuyen], [PhuongXa], [isPayment], [isAccept], [StatusShipping], [userId]) VALUES (4, N'ORD000004', N'Nguyễn Đạt', N'0869387518', N'123', NULL, CAST(1698000.00 AS Decimal(18, 2)), 2, 0, 0, CAST(N'2024-11-26T18:00:05.773' AS DateTime), N'04', N'042', N'01300', 0, 1, 2, NULL)
INSERT [dbo].[Orders] ([Id], [Code], [CustomerName], [Phone], [Address], [Email], [TotalAmount], [Quantity], [TypePayment], [Status], [CreatedDate], [TinhThanh], [QuanHuyen], [PhuongXa], [isPayment], [isAccept], [StatusShipping], [userId]) VALUES (6, N'ORD000006', N'Nguyễn Đạt', N'0869387518', N'123', NULL, CAST(1698000.00 AS Decimal(18, 2)), 1, 0, 0, CAST(N'2024-11-26T18:07:53.543' AS DateTime), N'04', N'053', N'01804', 0, 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Origins] ON 

INSERT [dbo].[Origins] ([idOrigin], [nameCountry]) VALUES (2, N'United States')
INSERT [dbo].[Origins] ([idOrigin], [nameCountry]) VALUES (3, N'Japan')
INSERT [dbo].[Origins] ([idOrigin], [nameCountry]) VALUES (4, N'South Korea')
SET IDENTITY_INSERT [dbo].[Origins] OFF
GO
SET IDENTITY_INSERT [dbo].[OTPs] ON 

INSERT [dbo].[OTPs] ([Id], [UserId], [OTPCode], [ExpiryDate], [IsUsed]) VALUES (2, N'720de367-eb83-4cc1-b3cb-25a30d536e9f', N'265108', CAST(N'2024-11-29T14:22:17.373' AS DateTime), 1)
INSERT [dbo].[OTPs] ([Id], [UserId], [OTPCode], [ExpiryDate], [IsUsed]) VALUES (3, N'720de367-eb83-4cc1-b3cb-25a30d536e9f', N'805546', CAST(N'2024-12-01T09:46:36.077' AS DateTime), 0)
INSERT [dbo].[OTPs] ([Id], [UserId], [OTPCode], [ExpiryDate], [IsUsed]) VALUES (4, N'720de367-eb83-4cc1-b3cb-25a30d536e9f', N'291012', CAST(N'2024-12-01T10:32:05.467' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[OTPs] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productId], [productName], [productDescription], [price], [quantity], [image], [createdDate], [updatedDate], [cateId], [brandId], [idOrigin]) VALUES (24, N'Giày thể thao', N'- Chất liệu: Vải ', CAST(990000.00 AS Decimal(18, 2)), 3, N'/Content/images/37bde962-60c9-4215-8106-f7789b21761e.jpg', CAST(N'2024-11-22T08:24:45.187' AS DateTime), CAST(N'2024-11-22T08:24:45.187' AS DateTime), 6, 5, 8)
INSERT [dbo].[Products] ([productId], [productName], [productDescription], [price], [quantity], [image], [createdDate], [updatedDate], [cateId], [brandId], [idOrigin]) VALUES (25, N'Giày thể thao', N'- Chất liệu: Vải ', CAST(990000.00 AS Decimal(18, 2)), 3, N'/Content/images/a6c66e95-8ac0-4da6-a6e2-c07e29bf8b18.jpg', CAST(N'2024-11-22T08:26:46.383' AS DateTime), CAST(N'2024-11-22T08:26:46.383' AS DateTime), 10, 8, 7)
INSERT [dbo].[Products] ([productId], [productName], [productDescription], [price], [quantity], [image], [createdDate], [updatedDate], [cateId], [brandId], [idOrigin]) VALUES (26, N'Giày thể thao', N'- Chất liệu: Vải ', CAST(990000.00 AS Decimal(18, 2)), 3, N'/Content/images/66dcd7b9-30ac-46fb-8976-f17e94f9b129.jpg', CAST(N'2024-11-22T08:35:32.400' AS DateTime), CAST(N'2024-11-22T08:35:32.400' AS DateTime), 10, 7, 4)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingCartItems] ON 

INSERT [dbo].[ShoppingCartItems] ([Id], [ProductId], [Price], [Quantity], [ShoppingCartId], [numberSize], [UnitPriceDb], [status]) VALUES (39, 24, CAST(990000.00 AS Decimal(18, 2)), 7, 3, 35, CAST(1980000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ShoppingCartItems] ([Id], [ProductId], [Price], [Quantity], [ShoppingCartId], [numberSize], [UnitPriceDb], [status]) VALUES (44, 37, CAST(990000.00 AS Decimal(18, 2)), 3, 3, 42, CAST(2970000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ShoppingCartItems] ([Id], [ProductId], [Price], [Quantity], [ShoppingCartId], [numberSize], [UnitPriceDb], [status]) VALUES (46, 28, CAST(990000.00 AS Decimal(18, 2)), 6, 3, 42, CAST(990000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[ShoppingCartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingCarts] ON 

INSERT [dbo].[ShoppingCarts] ([Id], [TotalPrice], [UserId]) VALUES (3, CAST(29628000.00 AS Decimal(18, 2)), N'720de367-eb83-4cc1-b3cb-25a30d536e9f')
INSERT [dbo].[ShoppingCarts] ([Id], [TotalPrice], [UserId]) VALUES (4, CAST(0.00 AS Decimal(18, 2)), N'c03d015e-3c3a-4c3d-a1b6-9943d6ea5a36')
INSERT [dbo].[ShoppingCarts] ([Id], [TotalPrice], [UserId]) VALUES (5, CAST(1200.00 AS Decimal(18, 2)), N'4702e6f2-b74d-443b-a360-735f061b5d4d')
SET IDENTITY_INSERT [dbo].[ShoppingCarts] OFF
GO
INSERT [dbo].[SizeOfProducts] ([productId], [sizeId]) VALUES (36, 1)
INSERT [dbo].[SizeOfProducts] ([productId], [sizeId]) VALUES (37, 1)
INSERT [dbo].[SizeOfProducts] ([productId], [sizeId]) VALUES (38, 1)
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([sizeId], [numberSize], [gender]) VALUES (1, 35, 0)
INSERT [dbo].[Sizes] ([sizeId], [numberSize], [gender]) VALUES (2, 36, 0)
INSERT [dbo].[Sizes] ([sizeId], [numberSize], [gender]) VALUES (3, 37, 0)
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [TinhThanh]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [QuanHuyen]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('') FOR [PhuongXa]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [isPayment]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [isAccept]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [StatusShipping]
GO
ALTER TABLE [dbo].[ShoppingCartItems] ADD  DEFAULT ((0)) FOR [numberSize]
GO
ALTER TABLE [dbo].[ShoppingCartItems] ADD  DEFAULT ((0)) FOR [UnitPriceDb]
GO
ALTER TABLE [dbo].[ShoppingCartItems] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([productId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_userId]
GO
ALTER TABLE [dbo].[OTPs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OTPs_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OTPs] CHECK CONSTRAINT [FK_dbo.OTPs_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_brandId] FOREIGN KEY([brandId])
REFERENCES [dbo].[Brands] ([brandId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_brandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_cateId] FOREIGN KEY([cateId])
REFERENCES [dbo].[Categories] ([cateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_cateId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Origins_idOrigin] FOREIGN KEY([idOrigin])
REFERENCES [dbo].[Origins] ([idOrigin])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Origins_idOrigin]
GO
ALTER TABLE [dbo].[ShoppingCartItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCartItems_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([productId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCartItems] CHECK CONSTRAINT [FK_dbo.ShoppingCartItems_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ShoppingCartItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCartItems_dbo.ShoppingCarts_ShoppingCartId] FOREIGN KEY([ShoppingCartId])
REFERENCES [dbo].[ShoppingCarts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCartItems] CHECK CONSTRAINT [FK_dbo.ShoppingCartItems_dbo.ShoppingCarts_ShoppingCartId]
GO
ALTER TABLE [dbo].[ShoppingCarts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCarts_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCarts] CHECK CONSTRAINT [FK_dbo.ShoppingCarts_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[SizeOfProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SizeOfProducts_dbo.Products_productId] FOREIGN KEY([productId])
REFERENCES [dbo].[Products] ([productId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SizeOfProducts] CHECK CONSTRAINT [FK_dbo.SizeOfProducts_dbo.Products_productId]
GO
ALTER TABLE [dbo].[SizeOfProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SizeOfProducts_dbo.Sizes_sizeId] FOREIGN KEY([sizeId])
REFERENCES [dbo].[Sizes] ([sizeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SizeOfProducts] CHECK CONSTRAINT [FK_dbo.SizeOfProducts_dbo.Sizes_sizeId]
GO
